{{#partial "contenido"}}

    <section class = "container">
        <div class = "d-flex justify-content-center">
            <h1 style="margin-top: 20px">Organizaciones</h1>
        </div>

        <br>
        <div class="p-4">
            <div class="d-flex justify-content-center p-2">
                <input id = "filtro" placeholder="Filtrar por nombre">
            </div>
            <div class="row align-items-center border rounded p-2">
                <div class="col-auto d-flex justify-content-center"  style="width:33%; font-weight: bold;">
                    Nombre
                </div>
                <div class="col-auto d-flex justify-content-center" style="width:33%; font-weight: bold;">
                    Razon Social
                </div>
                <div class="col-auto d-flex justify-content-end" style="width:33%;">
                    <a href = "organizaciones/agregar">
                        <img src="/images/plus.png" width="30" height="30" alt="agregar organizacion"/>
                    </a>
                </div>

            </div>
            <div id = "div-organizaciones">
                {{#each organizaciones}}
                    <div class="row align-items-center border rounded p-2">
                        <div class="col-auto d-flex justify-content-center"  style="width:33%;">
                            <a>{{nombre}}</a>
                        </div>
                        <div class="col-auto d-flex justify-content-center" style="width:33%;">
                            <a>{{razonSocial}}</a>
                        </div>
                        <div class="col-auto d-flex justify-content-center" style="width:33%;">
                            <form action="organizaciones/eliminar/{{id}}" method = "POST">
                                <!-- TODO AGREGAR MODAL DE CONFIRMAR ELIMINADO DE ORGANIZACION-->
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                {{/each}}

            </div>
        </div>
    </section>

    <script>

        function aplicarFiltro(){
            const valorDeFiltro = document.getElementById("filtro").value; //e.target.value;

            let organizaciones = document.getElementById("div-organizaciones");
            for (let divContainer of organizaciones.children){
                let divNombre = divContainer.children[0];
                if (divNombre.innerText.toUpperCase().includes(valorDeFiltro.toUpperCase()))
                    divContainer.style.display = 'flex';
                else divContainer.style.display = 'none';
            }
        }
        // tengo que hacer esta falopeada del setTimeOut porque si hago que se ejecute la
        // funcion de una no llega a tomar el valor del input bien
        const filtrar = (e) => {
            setTimeout(aplicarFiltro,50);
        }

        filtro = document.getElementById("filtro");
        filtro.onkeydown = filtrar;

    </script>

    {{#if organizacionCreada}}

        {{#partial "mensaje"}}
            ¡Organizacion creada!
        {{/partial}}
        {{> shared/mensaje_alerta.hbs }}

    {{/if}}
    {{#if organizacionEliminada}}

        {{#partial "mensaje"}}
            ¡Organizacion eliminada!
        {{/partial}}
        {{> shared/mensaje_alerta.hbs }}

    {{/if}}

{{/partial}}
{{> shared/admin_base.hbs }}