{{#partial "contenido"}}

    <section class = "container">
        <div class = " justify-content-center">
            <h1 style="margin-top: 20px">Registrar mediciones</h1>
        </div>
        <div class="container">
            <form action="" method="POST" enctype="multipart/form-data">
                <section class="form-section container" >
                    <div class="row">
                        <form action="" method="POST">
                            <div class="form col-sm-6">
                                <label>Cargar archivo Excel con Mediciones</label>
                                <small> Solo funciona con archivos que esten en la carpeta "src/test/java/resources/" del proyecto </small>
                                <div style="width:99%; display: inline-block;">

                                    <input class="mt-4 py-2" type="file"  name="archivo_mediciones" required>
                                </div>
                                <button type="submit" class="btn mt-3 btn-primary">Submit</button>

                            </div>
                        </form>
                        <div class="col-sm-6">
                            <figure class=" form-section-img">
                                <img src="/images/undraw_setup_re_y9w8.svg" class="form-section-picture" style="width: 100%" alt="girl_ride_bike">
                            </figure>

                        </div>
                    </div>
                </section>
            </form>
        </div>

    </section>
{{/partial}}
{{> ../public/shared/org_base.hbs }}