{{#partial "contenido"}}

  <script>
  $(function(){
    $("#header").load("../shared/us-header.html");
    $("#footer").load("../shared/footer.html");
    $("#partida").load("../shared/direccion_partida.html");
    $("#destino").load("../shared/direccion_destino.html");
  });
  </script>

 <body class="d-flex flex-column min-vh-100">
  <!-- User Navbar -->
  <div id="header"></div>

  <section class="form-section container">
    <form action="/user/trayectos/tramo/publico" method="POST">
    <div class="form d-flex flex-column">
        <h1 style="margin-top: 20px">Registro Tramo Publico</h1>
        <!-- <h3>Registro Tramo Limpio</h3> -->
        <div style="width:80%; display: inline-block; ">
         <label for="exampleInputEmail1" style="font-size: 110%; font-weight: bold;">Medio de transporte</label>
          <select  class="form-control" name="tipo_transporte" id ="id_tipo_transporte" onchange="getLinea(this.value)">
            <option selected>Seleccione tipo de transporte</option>
            {{#each tipo_transporte}}
            <option value="{{id}}">{{nombre}}</option>
            {{/each}}
          </select>
        </div>
        <div style="width:80%; display: inline-block;">
            <label for="linea">Seleccione la línea:</label>
            <select class="form-control" name="linea" id = "id_linea" style="width:100%;"
                    onchange="getParadas(this.value)" required>
                <option value="" disabled selected>--Seleccione una línea--</option>
            </select>
        </div>
      <div class="mb-3">
        <h5 style="margin-top: 20px">Parada de partida</h5>
        <select class="form-control" name="paradaPartida" id = "id_paradaPartida" style="width:80%;"
                onchange="getParadasDestino(this.value)" required disabled>
            <option value="" disabled selected>--Seleccione una parada--</option>
        </select>

        <h5 style="margin-top: 20px">Parada de destino</h5>
            <select class="form-control" name="paradaDestino" id = "id_paradaDestino" style="width:80%;" required disabled>
                <option value="" disabled selected>--Seleccione una parada--</option>
            </select>
        </div>
        <br>
    </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-dark" style="margin-bottom: 2%;" name="esCompartido">Guardar tramo</button>
        </div>
      
    </form> 

    </div>
    <figure class="form-section-img">
      <img src="/images/undraw_subway_-7-vh7.svg" class="form-section-picture" alt="girl_ride_bike">
    </figure>


  </section>




  <!-- Footer -->
  <div id="footer" class="mt-auto"></div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
 <script>

    function resetearOpciones(selectElement, textoPorDefecto){
         selectElement.innerHTML = "";
         let opt1 = document.createElement("option");
         opt1.text = textoPorDefecto;
         opt1.value = "";
         opt1.disabled = true;
         opt1.selected = true;
         selectElement.appendChild(opt1);
     }
      function agregarASelect(selectElement, arr){
             for(let i = 0; i < arr.length; i++)
             {
                 var opt = document.createElement("option");
                 opt.value = arr[i].id;
                 opt.text = arr[i].nombre;
                 selectElement.appendChild(opt);
             }
         }
    async function getLinea(id){
        let selectLineas = document.getElementById("id_linea");
        selectLineas.disable =false;

        let lineas = [];
         await fetch('http://localhost:9000/utilidades/lineas/' + id, {
                            method: 'GET'
                        }
                    ).then(response => response.json())
                     .then(json => lineas = json);

        resetearOpciones(selectLineas, "--Seleccione una Linea--");
        agregarASelect(selectLineas, lineas);
    }

    async function getParadas(id_linea){
        let selectParadaPartida = document.getElementById("id_paradaPartida");

         await fetch('http://localhost:9000/utilidades/paradas/' + id_linea, {
                            method: 'GET'
                        }
                    ).then(response => response.json())
                     .then(json => paradas = json);

        if(paradas.length == 0){
            selectParadaPartida.disabled =true;
            alert("No hay paradas asociadas a la linea seleccionada");
        }else {
            selectParadaPartida.disabled =false;
            resetearOpciones(selectParadaPartida, "--Seleccione una Linea--");
            agregarASelect(selectParadaPartida, paradas);
        }
    }

    async function getParadasDestino(id_paradaPartida){
        let selectParadaDestino = document.getElementById("id_paradaDestino");
        let id_linea = document.getElementById("id_linea").value;


        await fetch('http://localhost:9000/utilidades/paradasDestino/' + id_linea+'/'+ id_paradaPartida, {
                    method: 'GET'
                }
        ).then(response => response.json())
                .then(json => paradas = json);

        selectParadaDestino.disabled =false;
        resetearOpciones(selectParadaDestino, "--Seleccione una Linea--");
        agregarASelect(selectParadaDestino, paradas);


    }

  </script>
{{/partial}}
{{> ../public/shared/user_base.hbs }}


