{{#partial "contenido"}}

<section class = "container">
  <div class = "d-flex justify-content-center">
    <h1 style="margin-top: 20px">Mis organizaciones</h1>
  </div>

  <br>
  <div class="row align-items-center border rounded p-2">
    <div class="col-auto d-flex justify-content-center"  style="width:33%; font-weight: bold;">
    Organización
    </div>
    <div class="col-auto d-flex justify-content-center" style="width:33%; font-weight: bold;">
    Área
    </div>
  </div>
{{#each areas}}
    <div class="row align-items-center border rounded p-2">
        <div class="col-auto d-flex justify-content-center"  style="width:33%;">
            <a>{{organizacion.nombre}}</a>
        </div>
    <div class="col-auto d-flex justify-content-center" style="width:33%;">
        <a>{{nombre}}</a>
    </div>
    <div class="col-auto d-flex justify-content-center" style="width:33%;">
        <form action="mis_organizaciones/delete/{{id}}" method = "POST">
            <button type="submit" class="btn btn-danger">Darse de baja</button>
        </form>
    </div>
  </div>
{{/each}}
</section>
  {{/partial}}
  {{> shared/user_base.hbs }}