{{#partial "contenido" }}
    <div class = "d-flex justify-content-center mt-4">
        <h1>¿Qué desea hacer?</h1>
      </div>
      <div class = "d-flex justify-content-center">
        <hr style="width:50%; ">
      </div>
      <div class="container py-5">
        <div class="row">
          <div class="col d-flex flex-column justify-content-center ">
            <div class="circle-logo d-flex justify-content-center">
              <img src="../resources/undraw_subway_-7-vh7.svg" class="rounded-circle" width = "208" height="208" alt="Icono de solicitar alta en organización">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="*/solicitar_alta" class=" link-circle">Solicitar alta en organización</a>
            </div>
          </div>
          <div class="col d-flex flex-column justify-content-center ">
            <div class="circle-logo d-flex justify-content-center">
              <img src="../resources/undraw_my_current_location_re_whmt.svg" class="rounded-circl" width = "208" height="208" alt="Icono de cargar trayectos">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="*/us_registrar_trayecto" class=" link-circle" >Cargar trayectos</a>
            </div>
          </div>
          <div class="col d-flex flex-column justify-content-center ">
            <div class="circle-logo d-flex justify-content-center">
              <img src="../resources/undraw_cms_re_asu0 (1).svg" class="rounded-circle" width = "208" height="208" alt="Icono de visualizar reportes">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="#" class="link-circle">Visualizar reportes</a>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 40px;">
          <div class="col d-flex flex-column justify-content-center ">
            <div class="circle-logo d-flex justify-content-center">
              <img src="../resources/undraw_calculator_re_alsc.svg" class="rounded-circle" width = "208" height="208" alt="Icono de ejecutar calculadora de HC">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="#" class=" link-circle">Ejecutar calculadora HC</a>
            </div>
          </div>
          <div class="col d-flex flex-column justify-content-center ">
            <div class="circle-logo d-flex justify-content-center">
              <img src="../resources/undraw_environment_iaus.svg" class="rounded-circle" width = "208" height="208" alt="Icono de ver mis organizaciones">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="*/us_organizaciones" class=" link-circle">Ver mis organizaciones</a>
            </div>
          </div>
          <div class="col d-flex flex-column justify-content-center">
            <div class="circle-logo d-flex justify-content-center">
              <img src="../resources/undraw_nature_m5ll.svg" class="rounded-circle" width = "208" height="208" alt="Icono de modificar trayectos">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="#" class="link-circle" >Modificar trayectos</a>
            </div>
          </div>
        </div>

      </div>
{{/partial}}
{{> shared/user_base.hbs }}