{{#partial "contenido"}}
    <div class = "d-flex justify-content-center mt-4">
        <h1>¿Qué desea hacer?</h1>
    </div>
      <div class = "d-flex justify-content-center">
        <hr style="width:50%; ">
      </div>
      <div class="container py-5">
        <div class="row">
          <div class="col d-flex flex-column justify-content-center ">
            <div class="circle-logo d-flex justify-content-center">
              <img src="/images/undraw_subway_-7-vh7.svg" class="rounded-circle" width = "208" height="208" alt="Icono de solicitar alta en organización">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="mis_organizaciones/solicitar_alta" class=" link-circle">Solicitar alta en organización</a>
            </div>
          </div>
          <div class="col d-flex flex-column justify-content-center ">
            <div class="circle-logo d-flex justify-content-center">
              <img src="/images/undraw_my_current_location_re_whmt.svg" class="rounded-circle" width = "208" height="208" alt="Icono de cargar trayectos">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="trayectos" class=" link-circle" >Mis trayectos</a>
            </div>
          </div>
          <div class="col d-flex flex-column justify-content-center ">
            <div class="circle-logo d-flex justify-content-center">
              <img src="/images/undraw_cms_re_asu0 (1).svg" class="rounded-circle" width = "208" height="208" alt="Icono de visualizar reportes">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="reportes" class="link-circle">Visualizar reportes</a>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 40px;">
          <div class="col d-flex flex-column justify-content-center ">
            <div class="circle-logo d-flex justify-content-center">
              <img src="/images/undraw_calculator_re_alsc.svg" class="rounded-circle" width = "208" height="208" alt="Icono de ejecutar calculadora de HC">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="calculadora_hc" class=" link-circle">Ejecutar calculadora HC</a>
            </div>
          </div>
          <div class="col d-flex flex-column justify-content-center ">
            <div class="circle-logo d-flex justify-content-center">
              <img src="/images/undraw_environment_iaus.svg" class="rounded-circle" width = "208" height="208" alt="Icono de ver mis organizaciones">
            </div>
            <div class="mt-4 d-flex justify-content-center">
              <a href="mis_organizaciones" class=" link-circle">Ver mis organizaciones</a>
            </div>
          </div>
        </div>
      </div>
    {{/partial}}
    {{> ../public/shared/user_base.hbs }}