{{#partial "contenido"}}
    <section class="mt-4 mt-4 container">
        <h1>Reportes Huella de Carbono</h1>
    {{#each huellaDeCarbono}}
        <div class="card  bg-light mb-3 mt-4" style="max-width:400px;max-height:360px;">
            <div class="card-header pl-4">
                <h5 class="card-title">Huella de Carbono Personal</h5>
            </div>
            <div class="card-body">
                <div class="d-flex flex-column">
                    <div class="">
                        <span class="card-text" style="font-weight: bold;">Organizacion</span>
                        <p class="card-text">{{organizacion}}</p>
                    </div>
                    <div class="mt-2">
                        <span class="card-text" style="font-weight: bold;">Huella de Carbono Por trayectos</span>
                        <p class="card-text">{{valor}}</p>
                    </div>
                    <div class="mt-2">
                        <span class="card-text" style="font-weight: bold;">Impacto en la organizacion</span>
                        <p class="card-text">{{fechaMedicion}}</p>
                    </div>
                </div>
                <!-- <div class="d-flex justify-content-center pt-2">
                  <button type="button" class="btn btn-danger" style="font-weight: bold;">Cancelar solicitud</button>
                </div> -->
            </div>
        </div>
    {{/each}}
    </section>


{{/partial}}
{{> shared/user_base.hbs }}



