{{#partial "contenido"}}

<section class = "container mb-4">
    <div class = "row">
        <div class = "col-sm-8 d-flex justify-content-start">
            <h1 style="margin-top: 20px">Creando organización</h1>
        </div>
        <div class = "col-sm-4 d-flex justify-content-end p-4">
            <a href = "/administrador/organizaciones">
                <button type = "button" class="btn btn-secondary mb-2">Ir para atrás</button>
            </a>
        </div>
    </div>
    <form action = "agregar" method = "POST">
        <div class = "row">
            <div class = "form-section my-3 col">
                <strong>Datos de la Organización:</strong>
                <div class = "form-group my-2">
                    <label for = "nombre">Nombre:</label>
                    <input class = "form-control" id = "nombre" name = "nombre"
                           placeholder="Ingrese el nombre:" required>
                </div>
                <div class = "form-group my-2">
                    <label for = "razon_social">Razón social:</label>
                    <input class = "form-control" id = "razon_social" name = "razon_social" placeholder="Ingrese la Razón Social:" required>
                </div>
                <div class = "form-group my-2">
                    <label for = "clasificacion">Clasificación</label>
                    <select class = "form-control" id="clasificacion" name = "clasificacion" required>
                        <option value = "1" selected disabled>Seleccione una opción...</option>
                        {{#each clasificaciones}}
                            <option value = "{{id}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class = "form-group my-2">
                    <label for = "tipo">Tipo de Organización</label>
                    <select class = "form-control" id="tipo" name = "tipo" required>
                        <option value = "1" selected disabled>Seleccione una opción...</option>
                        {{#each tipos}}
                            <option value = "{{id}}">{{tipoOrg}}</option>
                        {{/each}}
                    </select>
                </div>

            </div>
            <div class = "col d-flex justify-content-center align-items-end">
                <img src="/images/organization.png" alt="imagen de organizacion"
                     height="300" width="300">
            </div>
        </div>
        {{#partial "titulo"}}
            <strong>Dirección de la Organización:</strong>
        {{/partial}}
        {{> ../public/shared/direccion.hbs}}
        <div class = "form-section my-3">
            <strong>Datos de usuario</strong>
            <div class = "form-group my-2">
                <label for = "usuario">Usuario:</label>
                <input class = "form-control" id = "usuario" name = "usuario" placeholder="Ingrese el usuario:" required>
                <small>Compartí esta información solo con el responsable de la organización</small>
            </div>
            <div class = "form-group my-2">
                <label for = "contrasenia">Contraseña:</label>
                <input type = "password" class = "form-control" id = "contrasenia"
                       name = "contrasenia" placeholder="Ingrese la contraseña:" required
                       onchange="onChange()">
                <small>Compartí esta información solo con el responsable de la organización</small>
            </div>
            <div class = "form-group my-2">
                <label for = "contrasenia-r">Ingrese nuevamente la contraseña:</label>
                <input type = "password" class = "form-control" id = "contrasenia-r"
                       placeholder="Repita la contraseña:" required
                       onchange="onChange()">
            </div>
        </div>

        <div class = "d-flex justify-content-center">
            <button id = "btn-agregar" type="submit" class="btn btn-primary mb-2">Agregar</button>
        </div>
    </form>
</section>

<script>
    // ESTA FUNCION VALIDA QUE LAS CONTRASEÑAS COINCIDAN
    // EL setCustomValidity SIRVE PARA AGREGAR UNA VALIDACION MAS AL FORM
    // POR EJEMPLO, EL required HACE QUE TENGAS QUE INGRESAR ALGO, SI NO AL INTENTARLO TE MUESTRA
    // UN MENSAJE PARA QUE LLENES EL CAMPO
    // CON EL setCustomValidity PODEMOS DEFINIR UNA REGLA DE VALIDACIÓN PERSONALIZADA CON UN MENSAJE
    function onChange() {
        const password = document.getElementById("contrasenia");
        const confirm = document.getElementById("contrasenia-r");
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        } else {
            confirm.setCustomValidity('Las contraseñas no coinciden');
        }
    }
</script>

{{/partial}}
{{> ../public/shared/admin_base.hbs }}