{{#partial "login"}}
    <section class="form-section container">
        <div class="row">
            <div class="col-sm-6">
                <form action="/login/create" method="POST">
                    <div class="form flex-column">
                        <h1 style="margin-top: 20px">Crear Usuario</h1>

                        <div class = "form-section my-3  ">

                            <strong>Datos de Persona</strong>
                            <div class = "form-group my-2">
                                <label for = "usuario">Nombres</label>
                                <input class = "form-control" id = "nombre" name = "nombre" placeholder="Ingrese el nombre:" required>
                            </div>
                            <div class = "form-group my-2">
                                <label for = "usuario">Apellidos</label>
                                <input class = "form-control" id = "apellido" name = "apellido" placeholder="Ingrese el apellido:" required>
                            </div>
                            <div class="row">
                                <div class=" form-group  my-2 col-sm-5" style="display: inline-block; " >
                                    <label for="exampleInputEmail1" >Tipo Doc</label>
                                    <select  style="width:100%;" class="form-control col-sm-5" name="tipoDoc" id ="tipoDoc" >
                                        <option selected>Seleccione tipo Documento</option>
                                        {{#each tipoDoc}}
                                            <option >{{this}}</option>
                                        {{/each}}

                                    </select>

                                </div>
                                <div class = "form-group my-2 col-sm-6 >
                                    <label for = "usuario"> Dni </label>
                                    <input class = "form-control" id = "dni" name = "dni" placeholder="Ingrese el dni:" required>
                                </div>
                            </div>
                    </div>
                        <div class="mb-3">
                            <div class = "form-section my-3">
                                <strong>Datos de usuario</strong>
                                <div class = "form-group my-2">
                                    <label for = "usuario">Usuario:</label>
                                    <input class = "form-control" id = "usuario" name = "usuario" placeholder="Ingrese el usuario:" required>
                                    <small>Compartí esta información solo con el responsable de la organización</small>
                                </div>
                                <div class = "form-group my-2">
                                    <label for = "contrasenia">Contraseña:</label>
                                    <input type = "password" class = "form-control" id = "contrasenia"
                                           name = "contrasenia" placeholder="Ingrese la contraseña:" required
                                           onchange="onChange()"  >
                                    <small>Compartí esta información solo con el responsable de la organización</small>
                                    <div>
                                        {{#if contraseniaDebil}}
                                            <strong class="text-danger">Contraseña débil, pruebe con otra por favor </strong>
                                        <p>Debe cumplir:</p>
                                            <ul>
                                                <li type="disc">Debe tener entre 8 y 40 caracteres</li>
                                                <li>Debe contener por lo menos un digito</li>
                                                <li>Debe contener por lo menos un caracter en minuscula</li>
                                                <li>Debe contener por lo menos un caracter en mayuscula</li>
                                                <li>Debe contener por lo menos uno de los siguientes caracteres especiales [ @ # $ % ! . ]</li>
                                            </ul>

                                        {{/if}}
                                    </div>
                                </div>
                                <div class = "form-group my-2">
                                    <label for = "contrasenia-r">Ingrese nuevamente la contraseña:</label>
                                    <input type = "password" class = "form-control" id = "contrasenia-r"
                                           placeholder="Repita la contraseña:" required>

                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-dark" style="margin-bottom: 2%;" name="esCompartido">Crear usuario</button>
                        </div>
                </form>
            </div>
            <div class="col-sm-6 d-flex justify-content-center mt-5">
                <figure class="form-section-img">
                    <img src="/images/undraw_nature_m5ll.svg" width=50% class="form-section-picture" alt="girl_ride_bike">
                </figure>
            </div>
        </div>
    </section>


{{/partial}}
{{> ../public/shared/login_base.hbs }}