{{#partial "login"}}
  <section class="form-section container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <form action="/login" method="POST">
        <div class="form d-flex flex-column">
          <h1 style="margin-top: 20px">Acceso</h1>
          <div class="mb-3">
            <div>
              <a>Usuario</a>
              <input type="text" class="form-control" name="nombre_de_usuario" maxlength="200" style="width:50%" placeholder="">
            </div>
            <div>
              <a>Contraseña</a>
               <input type="password" class="form-control" name="contrasenia" maxlength="200" style="width:50%"  placeholder="" >
                {{#if contraseñaIncorrecta}}
                    <small class = "text-danger">Usuario y/o contraseña incorrectos</small>
                {{/if}}
            </div>
          </div>
          <div style="margin-bottom: 10px;">
            <button type="submit" class="btn btn-dark" >Ingresar </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-6 d-flex justify-content-center mt-5">
      <figure class="form-section-img d-flex justify-content-center">
        <img src="/images/undraw_nature_m5ll.svg" style="width:50%" class="form-section-picture" alt="girl_ride_bike">
      </figure>
    </div>
    </div>
  </section>
{{/partial}}
{{> shared/login_base.hbs }}