<div class="form-section container p-0">
    <strong>Direcci칩n de partida:</strong>
    <div class = "form-section my-2 row">
        <div class = "form-group col-sm-8">
            <label for = "calle-partida">Calle</label>
            <input id = "calle-partida" type="text" class="form-control" name="calle-partida"
                   placeholder="" required>
        </div>
        <div class = "form-group col-sm-4">
            <label for = "altura-partida">Altura</label>
            <input id = "altura-partida" type="number" class="form-control" name="altura-partida"
                   placeholder="" required min="1">
        </div>
    </div>
    <div class = "form-section my-2 row">
        <div class = "form-group my-2 col-sm-4">
            <label for="provincia-partida">Provincia</label>
            <select class="form-control" name="provincia-partida" id="provincia-partida"
                    onchange="getMunicipiosProvincia('provincia-partida', 'municipio-partida', 'localidad-partida')"
                    required>
                <option value="" disabled selected>--Seleccione una provincia--</option>
                {{#each provincias}}
                    <option value="{{id}}" >{{descripcion}}</option>
                {{/each}}
            </select>
        </div>
        <div class = "form-group my-2 col-sm-4">
            <label for="municipio-partida">Municipio</label>
            <select class="form-control" name="municipio-partida" id = "municipio-partida"
                    onchange="getLocalidadesMunicipio('municipio-partida','localidad-partida')" required disabled>
                <option value="" disabled selected>--Seleccione un municipio--</option>
            </select>
        </div>
        <div class = "form-group my-2 col-sm-4">
            <label for="localidad-partida">Localidad</label>
            <select class="form-control" name="localidad-partida" id="localidad-partida" required disabled>
                <option value="" disabled selected>--Seleccione una localidad--</option>
            </select>
        </div>
    </div>

</div>
<div class="form-section container p-0">
    <strong>Direcci칩n de destino:</strong>
    <div class = "form-section my-2 row">
        <div class = "form-group col-sm-8">
            <label for = "calle-destino">Calle</label>
            <input id = "calle-destino" type="text" class="form-control" name="calle-destino"
                   placeholder="" required>
        </div>
        <div class = "form-group col-sm-4">
            <label for = "altura-destino">Altura</label>
            <input id = "altura-destino" type="number" class="form-control" name="altura-destino"
                   placeholder="" required min="1">
        </div>
    </div>
    {{#block "textoEnElMedio"}}
    {{/block}}
    <div class = "form-section my-2 row">
        <div class = "form-group my-2 col-sm-4">
            <label for="provincia-destino">Provincia</label>
            <select class="form-control" name="provincia-destino" id="provincia-destino"
                    onchange="getMunicipiosProvincia('provincia-destino', 'municipio-destino', 'localidad-destino')"
                    required>
                <option value="" disabled selected>--Seleccione una provincia--</option>
                {{#each provincias}}
                    <option value="{{id}}" >{{descripcion}}</option>
                {{/each}}
            </select>
        </div>
        <div class = "form-group my-2 col-sm-4">
            <label for="municipio-destino">Municipio</label>
            <select class="form-control" name="municipio-destino" id = "municipio-destino"
                    onchange="getLocalidadesMunicipio('municipio-destino','localidad-destino')" required disabled>
                <option value="" disabled selected>--Seleccione un municipio--</option>
            </select>
        </div>
        <div class = "form-group my-2 col-sm-4">
            <label for="localidad-destino">Localidad</label>
            <select class="form-control" name="localidad-destino" id="localidad-destino" required disabled>
                <option value="" disabled selected>--Seleccione una localidad--</option>
            </select>
        </div>
    </div>

</div>

<script>

    function resetearOpciones(selectElement, textoPorDefecto){
        selectElement.innerHTML = "";
        let opt1 = document.createElement("option");
        opt1.text = textoPorDefecto;
        opt1.value = "";
        opt1.disabled = true;
        opt1.selected = true;
        selectElement.appendChild(opt1);
    }

    function agregarASelect(selectElement, arr){
        for(let i = 0; i < arr.length; i++)
        {
            var opt = document.createElement("option");
            opt.value = arr[i].id;
            opt.text = arr[i].descripcion;
            selectElement.appendChild(opt);
        }
    }

    //Usamos los par치metros para reutilizar la funci칩n en partida y destino
    async function getMunicipiosProvincia(idSelectProvincia, idSelectMunicipio, idSelectLocalidad){
        let idProvincia = document.getElementById(idSelectProvincia).value;
        let selectMunicipio = document.getElementById(idSelectMunicipio);
        let selectLocalidad = document.getElementById(idSelectLocalidad);
        selectMunicipio.disabled = false;

        let municipios = [];

        await fetch('http://localhost:9000/utilidades/municipios/' + idProvincia, {
                    method: 'GET'
                }
            ).then(response => response.json())
             .then(json => municipios = json);

        // vaciamos el select
        // establecemos el predeterminado
        resetearOpciones(selectMunicipio, "--Seleccione un municipio--");
        resetearOpciones(selectLocalidad, "--Seleccione una localidad--");
        selectLocalidad.disabled = true;
        //Llenar:
        agregarASelect(selectMunicipio, municipios);
    }

    async function getLocalidadesMunicipio(idSelectMunicipio, idSelectLocalidad){
        let idMunicipio = document.getElementById(idSelectMunicipio).value;
        let selectLocalidad = document.getElementById(idSelectLocalidad);
        selectLocalidad.disabled = false;

        let localidades = [];

        await fetch('http://localhost:9000/utilidades/localidades/' + idMunicipio, {
                    method: 'GET'
                }
        ).then(response => response.json())
                .then(json => localidades = json);

        // vaciamos el select
        selectLocalidad.innerHTML = "";
        // establecemos el predeterminado
        resetearOpciones(selectLocalidad, "--Seleccione una localidad--");
        //Llenar:
        agregarASelect(selectLocalidad, localidades);
        selectLocalidad.required = localidades.length > 0;
    }
</script>