{{#partial "contenido"}}
<section class="container">

    <figure class="form-section-img">
        <img src="/public/images/te-perdiste-amigo.png" class="form-section-picture" alt="lean_">
    </figure>
</section>
{{/partial}}
{{> ../public/shared/user_base.hbs }}