{{#partial "contenido"}}
  <section class="form-section container">
  <div class="row mt-5">
    <div class="col-sm-12">
        <p style="text-align: justify;"><strong>1. Evitar el uso de envases y bolsas de pl&aacute;stico. Uno de los mayores enemigos del medio ambiente es el uso excesivo de pl&aacute;stico. Lo recomendable es usar cajas de cart&oacute;n, bolsas de tela y envases de vidrio. 2. Reciclar pl&aacute;stico, vidrio o&nbsp;metales como el acero o el aluminio reduce las emisiones de gases de efecto invernadero. Por cada kilogramo de pl&aacute;stico que se fabrica, se liberan 3,5 kilogramos de CO2 a la atm&oacute;sfera.</strong></p>
        <p style="text-align: justify;">3. Medir y optimizar el consumo energ&eacute;tico. Revisar&nbsp;nuestros recibos o facturas de luz. Ejecutar acciones como desconectar los dispositivos electr&oacute;nicos que ya est&aacute;n cargados o evitar en lo posible el uso de calentadores, termas el&eacute;ctricas, secadoras. </p>
        <p style="text-align: center;"><em>&ldquo;El ajuste debe ser gradual, buscando&nbsp;aprender a vivir con bajas emisiones en carbono, es decir ajustar nuestro comportamiento&rdquo;</em></p>
        <p style="text-align: justify;"><strong>4. Ser eficiente en el consumo de agua. Reducir el uso del agua disminuir&aacute; el uso de la energ&iacute;a que se requiere para procesarla. Otra&nbsp;acci&oacute;n fundamental es asegurarnos de cerrar el ca&ntilde;o mientras nos jabonamos las manos, dientes o al momento de ducharnos.</strong></p>
        <p style="text-align: justify;">5. Rod&eacute;ate de verde. Plantar un &aacute;rbol reduce nuestra huella y contribuye a mejorar el medio ambiente. Las plantas absorben el CO2 del aire.</p>
        <p style="text-align: justify;"><strong>6. Promover la movilidad sostenible. Los autos con el mantenimiento adecuado, o acciones simples como la de mantener las llantas infladas correctamente generan menos emisiones de gases de efecto invernadero. Si requieres movilizarte en tramos cortos, caminar o usar bicicleta es lo ideal.</strong></p>
   </div>
 <!--   <div class="col-sm-6 d-flex justify-content-center mt-5">
      <figure class="form-section-img d-flex justify-content-center">
        <img src="/images/undraw_nature_m5ll.svg" style="width:50%" class="form-section-picture" alt="girl_ride_bike">
      </figure>
    </div> -->
    </div>
  </section>
{{/partial}}
{{> shared/user_base.hbs }}