<!-- Heredamos el contenido de user base -->
{{#partial "contenido"}}
<section class="container form my-4">
    <div>
        <a href = "/user/trayectos/tramo/contratado/crear/{{idTrayecto}}">
            <button class = "btn btn-secondary">Ir para atrás</button>
        </a>
    </div>

    <form action="{{idTrayecto}}" method="POST" class = "row">
        <div class = "d-flex justify-content-center">
            <h2 >Creación de Tramo Contratado</h2>
        </div>
        <div class = "col-sm-8">
            <div class = "form-section my-2">
                {{> ../public/shared/cargando_direccion.hbs}}
            </div>
            <div class = "form-section my-2 col-sm-6">
                <strong>Datos del transporte:</strong>
                <div class = "form-group my-2">
                    <label for = "servicio">Tipo de servicio</label>
                    <select id = "servicio" class="form-control" name="tipo_servicio" required>
                        <option value="" disabled selected>Seleccione tipo de servicio...</option>
                        {{#each tiposServicio}}
                            <option value="{{id}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-check my-2">
                    <label class="form-check-label" for="esCompartido">¿Es Compartido?</label>
                    <input type="checkbox" class="form-check-input" id="esCompartido"
                           name="es_compartido" value="true">
                </div>

            </div>

        </div>
        <div class = "col-sm-4 d-flex justify-content-center align-items-center">
            <figure class="form-section-img">
                <img src="/images/undraw_order_ride_re_372k.svg" class="form-section-picture" alt="car_route"
                  width="100%">
            </figure>
        </div>
        <div class = "d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary">Crear</button>

        </div>
    </form>

</section>
  {{/partial}}
  {{> ../public/shared/user_base.hbs }}