<!-- Heredamos el contenido de user base -->
{{#partial "contenido"}}
        <div class="container">
        <form action="" method="POST">
        <section class="form-section container">
        <div class="form">
            <!-- <h1>Registro Tramo Limpio</h1> -->
            <h2>Registro Tramo Limpio</h2>

            <input type="text" name = "tipo" placeholder="Medio de transporte... " required>

    {{#partial "cargar_direcciones"}}
    {{/partial}}
    {{> ../public/shared/cargando_direccion.hbs}}

            <!-- <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
            <figure class="form-section-img">
                <img src="/images/undraw_ride_a_bike_girl.svg" class="form-section-picture" alt="girl_ride_bike">
            </figure>

        </section>

    </form>
  </div>
  {{/partial}}
  {{> ../public/shared/user_base.hbs }}