{{#partial "contenido"}}
    <section  class = " form-section container">

        <div class = "d-flex">
            <form action = "solicitar_alta/enviar" method="POST">
                <div class = "d-flex justify-content-left">
                    <h1 class ="p-3" >Solicitar alta en empresa</h1>
                </div>
                <div class=" p-3 justify-content-left">
                    <select class="custom-select" name="id_org" id="org_select"
                            onchange="getAreasOrg('org_select', 'areas_select')" required>
                        <option disabled selected value="">Seleccione organización</option>
                        {{#each organizaciones}}
                            <option value="{{id}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mt-3 p-3 justify-content-left">
                    <select class="custom-select" name="id_area" id="areas_select" disabled required>
                        <option disabled selected value="">Seleccione area</option>
                    </select>
                </div>
                <div class="row align-items-end">
                    <div class="col-md-6" >

                    </div>
                    <div class="mt-2 p-3 d-flex float-right col-md-6" >
                        <button  type="submit" class="btn btn-primary float-right"  >Enviar solicitud</button>
                    </div>
                </div>

            </form>
        </div>
<<<<<<< HEAD
        <figure class="form-section-img pt-3 m-3">
            <img src="/images/sol_join_organizacion.svg" class="form-section-picture " alt="so">
=======
        <figure class="form-section-img">
            <img src="/images/sol_join_organizacion.svg" class="form-section-picture" alt="so">
>>>>>>> d74b622bd8210a71043ae29a3d46467cd2bd9191
        </figure>
    </section>
<script>

    function resetearOpciones(selectElement, textoPorDefecto){
        selectElement.innerHTML = "";
        let opt1 = document.createElement("option");
        opt1.text = textoPorDefecto;
        opt1.value = "";
        opt1.disabled = true;
        opt1.selected = true;
        selectElement.appendChild(opt1);
    }

    function agregarASelect(selectElement, arr){
        for(let i = 0; i < arr.length; i++)
        {
            var opt = document.createElement("option");
            opt.value = arr[i].id;
            opt.text = arr[i].nombre;
            selectElement.appendChild(opt);
        }
    }

    async function getAreasOrg(idSelectOrg, idSelectArea){
        let idOrg = document.getElementById(idSelectOrg).value;
        let selectArea = document.getElementById(idSelectArea);
        selectArea.disabled = false;

        let areas = [];

        await fetch('http://localhost:9000/utilidades/areas/' + idOrg, {
                    method: 'GET'
                }
        ).then(response => response.json())
                .then(json => areas = json);

        // vaciamos el select
        selectArea.innerHTML = "";
        // establecemos el predeterminado
        resetearOpciones(selectArea, "--Seleccione un area--");
        //Llenar:
        agregarASelect(selectArea, areas);
        selectArea.required = areas.length > 0;
    }
</script>

{{/partial}}
{{> ../public/shared/user_base.hbs }}